<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="|${status} - ${error}|">Error page</title>
    <meta charset="utf-8" />
    <style type="text/css">
        table {border-collapse: collapse; }
        table th, table td { text-align: left; border: 1px solid black; padding: 0.25em; }
    </style>
</head>
<body>
<h1 th:text="|${status} - ${error}|">404</h1>
<p>An error occured:</p>
<table border="0">
    <tbody>
        <tr>
            <th>HTTP Status</th>
            <td th:text="|${status} - ${error}|"></td>
        </tr>
        <tr>
            <th>Path</th>
            <td th:text="${path}"></td>
        </tr>
        <tr>
            <th>When</th>
            <td th:text="${timestamp}"></td>
        </tr>
        <tr>
            <th>Exception type</th>
            <td th:text="${exception}"></td>
        </tr>
        <tr>
            <th>Exception message</th>
            <td th:text="${message}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>
