{
  "openapi": "3.0.1",
  "info": {
    "title": "Datafordeler",
    "description": "Målgruppen for denne dokumentation er primært udviklere og tekniske projektledere. Der refereres i dette dokument til dafo-produktionsserverens endpoint; der findes tilsvarende for testmiljøet ved adgang til produktionsmiljøet skal .test – delen indgå i url’en. Den samlede url bliver dermed https://dafo.test.data.gl" ,
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://dafo.data.gl"
    }
  ],
  "paths": {
    "/cpr/person/custody/<version>/rest/<cpr>": {
      "get": {
        "summary": "Enkeltopslag i CPR - adressehistorik",
        "description": "Formater: CPR-numre er ti cifre uden bindestreg. Responsformat: JSON",
        "parameters": [
          {
            "name": "cprNummer",
            "in": "query",
            "description": "CPR-nummer",
            "examples": {
              "fuld": {
                "value": "0101011234"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Liste over CPR-numre som denne person har forældremyndighed over. Udover CPR-nummeret leveres statuskoden for barnet. Statuskoden benyttes generelt til at indikere en status på personer i CPR-registeret. Det kan være bopæl i Grønland/Danmark eller at personen er forsvundet eller død. Forældremyndigheden beregnes ud fra fremsøgning af en liste over personens børn. Herefter fratrækkes børn som er blevet tildelt en ny forældremyndighed, og der tilføjes børn som denne person har fået tildelt forældremyndigheden over. Børn som er blevet over 18 år fremsøges ikke, da forældreemyndigheden dermed er udløbet. Der kan læses om statuskoder på dette link: https://kaqa.gl/Anvendelse/Brugervejledning/Folkeregister/CPR-koder",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parent": {
                      "type": "string"
                    },
                    "children": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "example": [{"pnr": "01011235", "status": 5},{"pnr": "01011236", "status": 5},{"pnr": "01011237", "status": 5}]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
