image: docker:latest
services:
  - docker:dind

stages:
  - build
  - test
  - release
  - configure
  - deploy

# https://docs.gitlab.com/ee/ci/yaml/workflow.html#switch-between-branch-pipelines-and-merge-request-pipelines
.if-default-branch-refs: &if-default-branch-refs
  if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'

.if-tag: &if-tag
  if: '$CI_COMMIT_TAG'

.if-merge-request: &if-merge-request
  if: '$CI_MERGE_REQUEST_IID'


# Workflow
###########
workflow:
  rules:
    - <<: *if-tag
      variables:
        # Override the IMAGE_SHA variable on tag pipelines to avoid both the default
        # branch pipeline and tag pipeline overriding each other's images arbitrarily when
        # they are both running at the same time on master.
        IMAGE_SHA: ${CI_REGISTRY_IMAGE}:${CI_COMMIT_TAG}
    - <<: *if-default-branch-refs
    - <<: *if-merge-request

include:
  - project: "labs/salt-automation"
    file:
      - "/gitlab-ci-templates/common/rules.v1.yml"
      - "/gitlab-ci-templates/common/saltbert.v1.yml"
      - "/gitlab-ci-templates/common/docker-build-meta.v2.yml"
      - "/gitlab-ci-templates/common/docker-release-meta.v1.yml"
      - "/gitlab-ci-templates/common/config-updater-meta.v1.yml"
      - "/gitlab-ci-templates/common/conventional-commits-meta.v1.yml"
      - "/gitlab-ci-templates/common/conventional-commits-changelog-meta.v1.yml"

variables:
  RELEASE_REGISTRY: docker.io
  RELEASE_REGISTRY_IMAGE: index.docker.io/magentaaps/datafordeler

  DAFO_JRE_IMAGE_SHA: ${CI_REGISTRY_IMAGE}/datafordeler:${CI_COMMIT_SHA}
  DAFO_IMAGE_TAG: magentaaps/datafordeler:${CI_COMMIT_TAG}

  DAFO_JDK_IMAGE_SHA: ${CI_REGISTRY_IMAGE}/datafordeler-build:${CI_COMMIT_SHA}

  DAFOSQL_IMAGE_SHA: ${CI_REGISTRY_IMAGE}/datafordeler-test-db:${CI_COMMIT_SHA}
  DAFOSQL_IMAGE_TAG: magentaaps/datafordeler-test-db:${CI_COMMIT_TAG}

  DAFODOC_IMAGE_SHA: ${CI_REGISTRY_IMAGE}/datafordeler-doc:${CI_COMMIT_SHA}
  DAFODOC_IMAGE_TAG: magentaaps/datafordeler-doc:${CI_COMMIT_TAG}

# Build stage
#############

build-mssql-image:
  extends: .build-docker
  variables:
    CI_IMAGE: ${DAFOSQL_IMAGE_SHA}
    DOCKERFILE: ${CI_PROJECT_DIR}/docker/Dockerfile.sqlserver

build-jdk-image:
  extends: .build-docker
  variables:
    CI_IMAGE: ${DAFO_JDK_IMAGE_SHA}
    DOCKERFILE: ${CI_PROJECT_DIR}/docker/Dockerfile.jdk

build-jre-image:
  extends:
    - .build-docker
    - .rules:semver-all
  variables:
    CI_IMAGE: ${DAFO_JRE_IMAGE_SHA}
    DOCKERFILE: ${CI_PROJECT_DIR}/docker/Dockerfile.jre

build-doc-image:
  extends: .build-docker
  variables:
    CI_IMAGE: ${DAFODOC_IMAGE_SHA}
    DOCKERFILE: ${CI_PROJECT_DIR}/docker/Dockerfile.docs


# Test stage
#############

.test-default: &test-default
  stage: test
  needs:
    - build-mssql-image
    - build-jdk-image
  image: ${DAFO_JDK_IMAGE_SHA}
  variables:
    GIT_STRATEGY: none
    JAVA_OPTS: "-Duser.timezone=Europe/Copenhagen"
    #M$ sql variables
    ACCEPT_EULA: "Y"
    SA_PASSWORD: "testTEST1"
    SERVERNAME: "dafodev"
    SERVER_PORT: "80"

    DATABASE_CLASS: "com.microsoft.sqlserver.jdbc.SQLServerDriver"
    DATABASE_URL: "jdbc:sqlserver://datafordeler-db:1433;databaseName=Datafordeler;trustServerCertificate=true"
    DATABASE_DIALECT: "org.hibernate.spatial.dialect.sqlserver.SqlServer2012SpatialDialect"
    DATABASE_SHOW_SQL: "false"
    DATABASE_USERNAME: "SA"
    DATABASE_PASSWORD: "testTEST1"
    DATABASE_METHOD: "update"
    DATABASE_DEFAULT_SCHEMA: "dbo"

    SECONDARY_DATABASE_CLASS: "com.microsoft.sqlserver.jdbc.SQLServerDriver"
    SECONDARY_DATABASE_URL: "jdbc:sqlserver://datafordeler-db:1433;databaseName=Datafordeler;trustServerCertificate=true"
    SECONDARY_DATABASE_DIALECT: "org.hibernate.spatial.dialect.sqlserver.SqlServer2012SpatialDialect"
    SECONDARY_DATABASE_SHOW_SQL: "false"
    SECONDARY_DATABASE_USERNAME: "SA"
    SECONDARY_DATABASE_PASSWORD: "testTEST1"
    SECONDARY_DATABASE_METHOD: "update"
    SECONDARY_DATABASE_DEFAULT_SCHEMA: "dbo"

    USER_DATABASE_ENABLED: "false"  # Use NoDBUserQueryManager, which returns hardcoded data

    SSL_ENABLE: "false"

    STS_METADATA_PATH: "/tmp/sts_metadata.test.xml"

    STATISTICS_ENABLE: "true"
    PULL_ENABLE: "true"
    CRON_ENABLE: "true"

    CPR_PROXY_URL: ""
    CPR_LOCAL_COPY_FOLDER: ""
    CPR_SUBSCRIPTION_ENABLE: "true"
    CPR_ENCRYPTION_KEYFILE: "/tmp/test_cpr_key.json"
    CPR_TEST_PERSON_LIST: >
      0211961234,0101530001,0101560002,1909801122,1201851234,1204500001,1212887123,1203620001,
      0707670001,0802430001,2208511234,1408814444,2610041234,0701970129,3004801111,0101125252,0909801234,0311620013,
      2411212266,2602751234,0211931234,0101018888,0404541100,0202024040,0102631234,1212001122,0209025000,3003671111,
      2201161234,1601111234,0204252255,1403051234,0908401234,0906621234,2411461234,2408484422,2802791234,0101011112,
      1108520123,1111111111,1111111112,1111111113,1111111110,1211111111,
      1108520123,1111111111,1111111112,1111111113,3111171114,3111171115,3111171116,3009151234,2703701234,1205781234,
      1801471234,0202940001,0202940003,
      0104909995,0104909989,0107729995,0108589995,0108629996,0201609995,0201609996,0201919990,0201919995,0201919996,
      0211223989,0212159995,0504909989,0504909995,0505059996,0505109990,0505159995,0505209996,0506889996,1007059995,
      1110109996,1310169995,1310169996,1502779995,1502799995,1502829995,1509819996,2103009996,2311143995,2509479989,
      2512489996,2911829996,3001749995,3103979995

    CVR_DEMO_COMPANYFILE: "classpath:company_in.json"
    CVR_DEMO_UNITFILE: "classpath:unit.json"
    CVR_DEMO_PARTICIPANTFILE: "classpath:person.json"
    CVR_LOCAL_COPY_FOLDER: ""
    GEO_LOCAL_COPY_FOLDER: ""

    ERRORFILE_DIR: "cache/log"
  services:
    - name: ${DAFOSQL_IMAGE_SHA}
      alias: datafordeler-db

test-core:
  <<: *test-default
  before_script:
    - cd /app/core
  script:
    - mvn --batch-mode test
  artifacts:
    reports:
      junit:
        - /app/core/target/surefire-reports/*.xml

test-cpr:
  <<: *test-default
  before_script:
    - cd /app/plugin/cpr
  script:
    - mvn --batch-mode test
  artifacts:
    reports:
      junit:
        - /app/plugin/cpr/target/surefire-reports/TEST-*

test-cvr:
  <<: *test-default
  before_script:
    - cd /app/plugin/cvr
  script:
    - mvn --batch-mode test
  artifacts:
    reports:
      junit: target/surefire-reports/*.xml

test-eboks:
  <<: *test-default
  before_script:
    - cd /app/plugin/eboks
  script:
    - mvn --batch-mode test
  artifacts:
    reports:
      junit:
        - /app/plugin/eboks/target/surefire-reports/*.xml

test-eskat:
  <<: *test-default
  before_script:
    - cd /app/plugin/eskat
  script:
    - mvn --batch-mode test
  artifacts:
    reports:
      junit:
        - /app/plugin/eskat/target/surefire-reports/*.xml

test-geo:
  <<: *test-default
  before_script:
    - cd /app/plugin/geo
  script:
    - mvn --batch-mode test
  artifacts:
    reports:
      junit:
        - /app/plugin/geo/target/surefire-reports/*.xml

test-ger:
  <<: *test-default
  before_script:
    - cd /app/plugin/ger
  script:
    - mvn --batch-mode test
  artifacts:
    reports:
      junit:
        - /app/plugin/ger/target/surefire-reports/*.xml

test-prisme:
  <<: *test-default
  before_script:
    - cd /app/plugin/prisme
  script:
    - mvn --batch-mode test
  artifacts:
    reports:
      junit:
        - /app/plugin/prisme/target/surefire-reports/*.xml

test-combinedPitu:
  <<: *test-default
  before_script:
    - cd /app/plugin/combinedPitu
  script:
    - mvn --batch-mode test
  artifacts:
    reports:
      junit:
        - /app/plugin/pituCombined/target/surefire-reports/TEST-*.xml

test-statistik:
  <<: *test-default
  before_script:
    - cd /app/plugin/statistik
  script:
    - mvn --batch-mode test
  artifacts:
    reports:
      junit:
        - /app/plugin/statistik/target/surefire-reports/*.xml

test-subscription:
  <<: *test-default
  before_script:
    - cd /app/plugin/subscription
  script:
    - mvn --batch-mode test
  artifacts:
    reports:
      junit: /app/plugin/subscription/target/surefire-reports/*.xml


# Release stage
###############
 
.release:
  stage: release
  image: alpine
  needs: ["build-jre-image", "test-core", "test-cpr", "test-cvr", "test-eboks", "test-eskat", "test-geo", "test-ger", "test-prisme", "test-combinedPitu", "test-statistik", "test-subscription"]
  variables:
    GIT_STRATEGY: none # We do not need the source code
  before_script:
    - apk add skopeo

Release Datafordeler image:
  extends:
    - .rules:semver-all
    - .release
  script:
    - skopeo copy
      --src-creds=${CI_REGISTRY_USER}:${CI_REGISTRY_PASSWORD}
      --dest-creds=${RELEASE_REGISTRY_USER}:${RELEASE_REGISTRY_PASSWORD}
      "docker://${DAFO_JRE_IMAGE_SHA}"
      "docker://${DAFO_IMAGE_TAG}"

Release Datafordeler-doc image:
  extends:
    - .rules:semver-all
    - .release
  script:
    - skopeo copy
      --src-creds=${CI_REGISTRY_USER}:${CI_REGISTRY_PASSWORD}
      --dest-creds=${RELEASE_REGISTRY_USER}:${RELEASE_REGISTRY_PASSWORD}
      "docker://${DAFODOC_IMAGE_SHA}"
      "docker://${DAFODOC_IMAGE_TAG}"

# TODO: Remove when no longer needed
Release Datafordeler-test-db image:
  extends:
    - .rules:semver-all
    - .release
  script:
    - skopeo copy
      --src-creds=${CI_REGISTRY_USER}:${CI_REGISTRY_PASSWORD}
      --dest-creds=${RELEASE_REGISTRY_USER}:${RELEASE_REGISTRY_PASSWORD}
      "docker://${DAFOSQL_IMAGE_SHA}"
      "docker://${DAFOSQL_IMAGE_TAG}"


# Configure stage
#################

Configure Test:
  stage: configure
  extends:
    - .rules:semver-all
    - .config:endpoint-with-tag
  needs: ["Release Datafordeler image", "Release Datafordeler-test-db image", "Release Datafordeler-doc image"]
  variables:
    ENDPOINT: datafordeler/salt/update-test

Configure Demo:
  stage: configure
  extends:
    - .rules:semver-all
    - .config:endpoint-with-tag
  needs: ["Release Datafordeler image", "Release Datafordeler-test-db image", "Release Datafordeler-doc image"]
  variables:
    ENDPOINT: datafordeler/salt/update-demo

Configure Production:
  stage: configure
  extends:
    - .rules:semver-core
    - .config:endpoint-with-tag
  needs: ["Release Datafordeler image", "Release Datafordeler-test-db image", "Release Datafordeler-doc image"]
  variables:
    ENDPOINT: datafordeler/salt/update-prod


# Deploy stage
##############

Deploy Test 1:
  stage: deploy
  when: manual
  extends:
    - .rules:semver-all
    - .saltbert
  needs: ["Release Datafordeler image", "Release Datafordeler-test-db image", "Release Datafordeler-doc image", "Configure Test"]
  variables:
    SALTBERT_ORCHESTRATION: groenland.datafordeler.service-test-1
    SALTBERT_URL: https://saltmaster.groenland.magentahosted.dk
  environment:
    name: test01
    url: "https://test.data.gl"

Deploy Test 2:
  stage: deploy
  when: manual
  extends:
    - .rules:semver-all
    - .saltbert
  # Depend on test 1, so we only have one server down at a time
  # It needs to be checked that service 1 is up & running before taking down service 2
  needs: ["Release Datafordeler image", "Release Datafordeler-test-db image", "Release Datafordeler-doc image", "Configure Test", "Deploy Test 1"]
  variables:
    SALTBERT_ORCHESTRATION: groenland.datafordeler.service-test-2
    SALTBERT_URL: https://saltmaster.groenland.magentahosted.dk
  environment:
    name: test02
    url: "https://test.data.gl"

Deploy Demo 1:
  stage: deploy
  when: manual
  extends:
    - .rules:semver-all
    - .saltbert
  needs: ["Release Datafordeler image", "Release Datafordeler-test-db image", "Release Datafordeler-doc image", "Configure Demo"]
  variables:
    SALTBERT_ORCHESTRATION: groenland.datafordeler.service-demo-1
    SALTBERT_URL: https://saltmaster.groenland.magentahosted.dk
  environment:
    name: demo01
    url: "https://demo.test.data.gl"

Deploy Demo 2:
  stage: deploy
  when: manual
  extends:
    - .rules:semver-all
    - .saltbert
  # Depend on test 1, so we only have one server down at a time
  # It needs to be checked that service 1 is up & running before taking down service 2
  needs: ["Release Datafordeler image", "Release Datafordeler-test-db image", "Release Datafordeler-doc image", "Configure Test", "Deploy Demo 1"]
  variables:
    SALTBERT_ORCHESTRATION: groenland.datafordeler.service-demo-2
    SALTBERT_URL: https://saltmaster.groenland.magentahosted.dk
  environment:
    name: demo02
    url: "https://demo.test.data.gl"

Deploy Production 1:
  stage: deploy
  when: manual
  extends:
    - .rules:semver-core
    - .saltbert
  needs: ["Release Datafordeler image", "Release Datafordeler-doc image", "Configure Production"]
  variables:
    SALTBERT_ORCHESTRATION: groenland.datafordeler.service-prod-1
    SALTBERT_URL: https://saltmaster.groenland.magentahosted.dk
  environment:
    name: production01
    url: "https://data.gl"

Deploy Production 2:
  stage: deploy
  when: manual
  extends:
    - .rules:semver-core
    - .saltbert
  # Depend on test 1, so we only have one server down at a time
  # It needs to be checked that service 1 is up & running before taking down service 2
  needs: ["Release Datafordeler image", "Release Datafordeler-doc image", "Configure Production", "Deploy Production 1"]
  variables:
    SALTBERT_ORCHESTRATION: groenland.datafordeler.service-prod-2
    SALTBERT_URL: https://saltmaster.groenland.magentahosted.dk
  environment:
    name: production02
    url: "https://data.gl"
