[submodule "performance/monitor"]
	path = performance/monitor
	url = https://github.com/magenta-aps/datafordeler-performance-monitor.git
	branch = .
[submodule "plugin/cpr"]
	path = plugin/cpr
	url = https://github.com/magenta-aps/datafordeler-plugin-cpr.git
	branch = .
[submodule "plugin/cvr"]
	path = plugin/cvr
	url = https://github.com/magenta-aps/datafordeler-plugin-cvr.git
	branch = .
[submodule "plugin/gladdrreg"]
	path = plugin/gladdrreg
	url = https://github.com/magenta-aps/datafordeler-plugin-gladdrreg.git
	branch = .
[submodule "admin"]
	path = admin
	url = https://github.com/magenta-aps/datafordeler-admin.git
	branch = .
[submodule "core"]
	path = core
	url = https://github.com/magenta-aps/datafordeler-core.git
	branch = .
[submodule "sts"]
	path = sts
	url = https://github.com/magenta-aps/datafordeler-sts.git
	branch = .
[submodule "log"]
	path = log
	url = https://github.com/magenta-aps/datafordeler-log.git
	branch = .
[submodule "vagrant"]
	path = vagrant
	url = https://github.com/magenta-aps/vagrant.git
	branch = .
[submodule "ansible/roles/vim"]
	path = ansible/roles/vim
	url = https://github.com/magenta-aps/ansible-role-vim.git
	branch = .
[submodule "plugin/prisme"]
	path = plugin/prisme
	url = https://github.com/magenta-aps/datafordeler-plugin-prisme.git
	branch = .
[submodule "plugin/adresseservice"]
	path = plugin/adresseservice
	url = https://github.com/magenta-aps/datafordeler-plugin-adresse.git
	branch = .
[submodule "plugin/statistik"]
	path = plugin/statistik
	url = https://github.com/magenta-aps/datafordeler-plugin-statistik.git
	branch = .
[submodule "plugin/geo"]
	path = plugin/geo
	url = https://github.com/magenta-aps/datafordeler-plugin-geo.git
	branch = .
[submodule "plugin/ger"]
	path = plugin/ger
	url = https://github.com/magenta-aps/datafordeler-plugin-ger.git
	branch = .
