<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>IdP Selection</title>
</head>
<body>
<b>Select an IdP: </b>
<form th:action="${idpDiscoReturnURL}" method="GET">
    <select th:id="${idpDiscoReturnParam}" th:name="${idpDiscoReturnParam}" th:remove="all-but-first">
        <div>
            <option th:disabled="true" th:selected="selected" th:value="''" th:text="'Select IdP...'">Select IdP...
            </option>
            <option th:each="idpEntity : ${idpNameAliasMap}"
                    th:value="${idpEntity.key}" th:text="${idpEntity.value}">Idp Name
            </option>
        </div>
    </select>
    <input type="submit" value="Initiate SSO"/>
</form>
<div th:if="${preselected} != null" th:text="${preselected}" id="preselected" style="display: none;"></div>
<script type="text/javascript"><!--
(function() {
    var preselected = document.getElementById("preselected"),
        select = document.getElementsByTagName("select").item(0),
        doSubmit = false;
    if(preselected) {
        for(var i=0; i<select.options.length;i++) {
            if(select.options[i].value == preselected.innerHTML) {
                select.selectedIndex = i;
                doSubmit = true;
                break;
            }
        }
        if(doSubmit) {
            select.form.submit();
        }
    }
})();
//--></script>
</body>
</html>