<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head><title>Submit DAFO token</title></head>
<body>
<p>
    You have been successfully identified as: <span th:text="${userId}">unknown</span>.
</p>
<div th:if="${returnURL} == null">
    <p>
        You session did not contain any information about where to post the token. Try restarting the login process.
    </p>
</div>
<div th:if="${returnURL} != null">
    <p>
        Click submit below to post your token to <span th:text="${returnURL}">the return URL</span>.
    </p>
    <form name="submittokenform" id="submittokenform" th:action="${returnURL}" method="POST">
        <textarea cols="52" rows="10" th:name="${returnParam}"
                  th:text="${compressed_and_encoded_token}">SAML Token Data</textarea>
        <input type="submit" value="Submit" />
    </form>
    <script type="text/javascript"><!--
        document.getElementById("submittokenform").submit();
    //--></script>
</div>
</body>
</html>