{
  "openapi": "3.0.1",
  "info": {
    "title": "Datafordeler",
    "description": "Målgruppen for denne dokumentation er udviklere for systemer i E-skat, som benyttes som aftagere på data.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://dafo.data.gl"
    }
  ],
  "paths": {
    "/eskat/companystatus/lookup": {
      "get": {
        "summary": "Aktuelle status for virksomheder i datafordeleren",
        "description": "Ved kald til denne service kan hentes alle aktuelle status for virksomheder i datafordeleren. Der appendes en status til den status der er hentet fra det danske CVR-register. For virksomheder med status forskellig fra NORMAL, Aktiv og Fremtid returneres 'Ophørt:  + status' for alle andre status returneres 'Aktiv: +status'",
        "responses": {
          "200": {
            "description": "Aktuelle status for virksomheder i datafordeleren",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "example": ["Ophørt: OPLØST EFTER FRIVILLIG LIKVIDATION","Aktiv: NORMAL","Ophørt: UNDER FRIVILLIG LIKVIDATION"]
                }
              }
            }
          }
        }
      }
    },
    "/eskat/company/1/rest/": {
      "get": {
        "summary": "Fremsøgning af virksomheder i datafordeleren",
        "parameters": [
          {
            "name": "cvrnummer",
            "in": "query",
            "description": "CVR nummer",
            "examples": {
              "fuld": {
                "value": "12950160"
              },
              "wildcard": {
                "value": "1295*"
              }
            }
          },
          {
            "name": "navne",
            "in": "query",
            "description": "Virksomhedsnavn",
            "examples": {
              "fuld": {
                "value": "Magenta Grønland ApS"
              },
              "wildcard": {
                "value": "Magenta*"
              }
            }
          },
          {
            "name": "companyStatus",
            "in": "query",
            "description": "Virksomhedsstatus",
            "examples": {
              "fuld": {
                "value": "Magenta Grønland ApS"
              },
              "wildcard": {
                "value": "Magenta*"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Personinformation og en liste over CPR-numre på personer som denne person deler adresse med.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "string"
                    },
                    "terms": {
                      "type": "string"
                    },
                    "requestTimestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "responseTimestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "username": {
                      "type": "string"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "pageSize": {
                      "type": "integer"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cvrNummer": {
                            "type": "string",
                            "example": "12345678"
                          },
                          "navn": {
                            "type": "string",
                            "example": "Testvirksomhed"
                          },
                          "kommuneKode": {
                            "type": "string",
                            "example": "956"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
