{
  "openapi": "3.0.1",
  "info": {
    "title": "Datafordeler - abonnementsløsning",
    "description": "Målgruppen for denne dokumentation er primært udviklere og tekniske projektledere der har brug for at trække data fra datafordeleren, sekundært Selvstyrets og Digitaliseringsstyrelsens medarbejdere med relation til ERP-projektet. For at få adgang til datafordelerens abonnementsløsning skal brugeren oprettes i Pitu. Der refereres i dette dokument til dafo-serverens endpoint, der findes tilsvarende for testmiljø og demomiljø",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://dafo.data.gl"
    }
  ],
  "paths": {
    "/subscription/1/manager/subscriber": {
      "post": {
        "summary": "Administration af subscribere i datafordeleren",
        "description": "Ved kald til servicen med en POST, oprettes en subscriber tilknyttet den bruger som laver kaldet. Der kan kun eksistere en subscriber, så efterfølgende kald via POST til denne service medfører en fejl.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "responses": {
          "200": {
            "description": "Denne service returnere den subscriber, som bliver oprettet ved kaldet, dog under forudsætning af at subscriberen kan oprettes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subscriberId": {
                      "type": "string",
                      "example": "PITU_GOV_DIA_magenta_services"
                    },
                    "cprLists": {
                      "type": "array",
                      "example": "[]"
                    },
                    "cvrLists": {
                      "type": "array",
                      "example": "[]"
                    },
                    "businessEventSubscription": {
                      "type": "array",
                      "example": "[]"
                    },
                    "dataEventSubscription": {
                      "type": "array",
                      "example": "[]"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Denne service returnere en fejlbesked, hvis der ikke kan oprettes en subscriber.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "Failed creating subscriber"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Denne service returnere en fejlbesked, hvis der ikke kan oprettes en subscriber.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "Failed creating subscriber"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Der returneres en liste over alle subscribere i datafordeleren",
        "description": "Der returneres en liste over alle subscribere i datafordeleren.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "responses": {
          "200": {
            "description": "Denne service returnere den subscriber, som bliver oprettet ved kaldet, dog under forudsætning af at subscriberen kan oprettes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "example": "[{\n  \"subscriberId\": \"PITU_GOV_DIA_magenta_services1\",\n  \"cprLists\": [],\n  \"cvrLists\": [],\n  \"businessEventSubscription\": [],\n  \"dataEventSubscription\": []\n}, {\n  \"subscriberId\": \"PITU_GOV_DIA_magenta_services2\",\n  \"cprLists\": [],\n  \"cvrLists\": [],\n  \"businessEventSubscription\": [],\n  \"dataEventSubscription\": []\n}]"
                }
              }
            }
          }
        }
      }
    },
    "/subscription/1/manager/subscriber/{subscriberId}": {
      "get": {
        "summary": "Hens subscriber i datafordeleren",
        "description": "Ved kald til servicen med en POST, oprettes en subscriber tilknyttet den bruger som laver kaldet. Der kan kun eksistere en subscriber, så efterfølgende kald via POST til denne service medfører en fejl.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "responses": {
          "200": {
            "description": "Denne service returnere den subscriber, som bliver oprettet ved kaldet, dog under forudsætning af at subscriberen kan oprettes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subscriberId": {
                      "type": "string",
                      "example": "PITU_GOV_DIA_magenta_services"
                    },
                    "cprLists": {
                      "type": "array",
                      "example": "[]"
                    },
                    "cvrLists": {
                      "type": "array",
                      "example": "[]"
                    },
                    "businessEventSubscription": {
                      "type": "array",
                      "example": "[]"
                    },
                    "dataEventSubscription": {
                      "type": "array",
                      "example": "[]"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Denne service returnere en fejlbesked, hvis der ikke kan findes den forespurgte subscriber.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "Failed creating subscriber"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subscription/1/manager/subscriber/subscription/businesseventSubscribtion": {
      "post": {
        "summary": "Opret en subscription",
        "description": "Der oprettes en businesseventSubscribtion i datafordeleren via en post til denne url. Denne subscription bliver tilknyttet den bruger, som opretter denne.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "parameters": [
          {
            "name": "businessEventId",
            "in": "query",
            "description": "The unique id of the eventId to get created",
            "examples": {
              "Ex1": {
                "value": "eventId1"
              }
            }
          },
          {
            "name": "kodeId",
            "in": "query",
            "description": "The Id to use to compare the events",
            "example": "cpr.businessevent.A01",
            "examples": {
              "Ex1": {
                "value": "cpr.businessevent.A01"
              },
              "Ex2": {
                "value": "cpr.businessevent.A02"
              },
              "Ex3": {
                "value": "cpr.businessevent.A03"
              },
              "Ex4": {
                "value": "cpr.businessevent.A04"
              }
            }
          },
          {
            "name": "cprList",
            "in": "query",
            "description": "The list to use in order to filter out CPR-numbers that is not relevant to the data-consumer",
            "examples": {
              "Ex1": {
                "value": "list01"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Denne service returnere den oprettede subscription ved oprettelse",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "businessEventId": {
                      "type": "string",
                      "example": "PITU_GOV_DIA_magenta_services"
                    },
                    "kodeId": {
                      "type": "string",
                      "example": "cpr.businessevent.A01"
                    },
                    "cprList": {
                      "type": "array",
                      "example": "[]"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Denne service returnere en fejlbesked, hvis der ikke kan oprettes en subscription.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "Subscription already exists"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Denne service returnere en fejlbesked, hvis der ikke kan oprettes en subscription.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "Failed adding element"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Der returneres en liste over alle businesseventSubscription i datafordeleren",
        "description": "Der returneres en liste over alle businesseventSubscription der eksistere under den bruger som laver kaldet.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "responses": {
          "200": {
            "description": "Denne service returnere den oprettede subscription ved oprettelse",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "businessEventId": {
                      "type": "string",
                      "example": "PITU_GOV_DIA_magenta_services"
                    },
                    "kodeId": {
                      "type": "string",
                      "example": "cpr.businessevent.A01"
                    },
                    "cprList": {
                      "type": "array",
                      "example": "[]"
                    }
                  }
                }
              }
            }
          },
          "404": {
          }
        }
      }
    },
    "/subscription/1/manager/subscriber/subscription/businesseventSubscribtion/{businessEventId}": {
      "put": {
        "summary": "Modificer en subscription",
        "description": "Der rettes en businesseventSubscribtion i datafordeleren via en put til denne url. Denne subscription er tilknyttet den bruger, som oprettede denne.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "parameters": [
          {
            "name": "kodeId",
            "description": "The Id to use to compare the events",
            "example": "cpr.businessevent.A01"
          },
          {
            "name": "cprList",
            "description": "The list to use in order to filter out CPR-numbers that is not relevant to the data-consumer",
            "example": "list01"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
            }
          }
        }
      },
      "delete": {
        "summary": "Slet en subscription",
        "description": "Der kan slettes en tidligere oprettet subscription ved kald til dette link.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "responses": {
          "200": {
            "description": "",
            "content": {
            }
          }
        }
      },
      "get": {
        "summary": "Hen en subscription",
        "description": "Der hentes en subscription i datafordeleren via en get til denne service. Denne subscription er tilknyttet den bruger, som oprettede denne.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "responses": {
          "200": {
            "description": "",
            "content": {
            }
          }
        }
      }
    },
    "/subscription/1/manager/subscriber/subscription/dataeventSubscribtion": {
      "post": {
        "summary": "Opret en subscription",
        "description": "Der oprettes en subscription i datafordeleren via en post til denne service. Denne subscription bliver tilknyttet den bruger, som opretter denne.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "parameters": [
          {
            "name": "businessEventId",
            "description": "The unique id of the eventId to get created",
            "example": "eventId1"
          },
          {
            "name": "kodeId",
            "description": "The Id to use to compare the events",
            "example": "cpr.dataevent.cpr_person_address_record"
          },
          {
            "name": "cprList",
            "description": "The list to use in order to filter out CPR-numbers that is not relevant to the data-consumer",
            "example": "list01"
          },
          {
            "name": "cvrList",
            "description": "The list to use in order to filter out CVR-numbers that is not relevant to the data-consumer",
            "example": "list01"
          }
        ],
        "responses": {
          "200": {
            "description": "Denne service returnere den oprettede subscription ved oprettelse",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "businessEventId": {
                      "type": "string",
                      "example": "PITU_GOV_DIA_magenta_services"
                    },
                    "kodeId": {
                      "type": "string",
                      "example": "cpr.addresschange"
                    },
                    "cprList": {
                      "type": "array",
                      "example": "[]"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Denne service returnere en fejlbesked, hvis der ikke kan oprettes en subscription.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "Subscription already exists"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Denne service returnere en fejlbesked, hvis der ikke kan oprettes en subscription.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "Failed adding element"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Der returneres en liste over alle dataeventSubscription i datafordeleren",
        "description": "Der returneres en liste over alle dataeventSubscription der eksistere under den bruger som laver kaldet",
        "responses": {
          "200": {
            "description": "Liste over virksomheder, som har den forespurgte virksomhedsformkode, og hvor der er sket ændringer siden det forespurgte tidspunkt",
            "content": {
              "200": {
                "description": "Denne service returnere den oprettede subscription ved oprettelse",
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "businessEventId": {
                          "type": "string",
                          "example": "PITU_GOV_DIA_magenta_services"
                        },
                        "kodeId": {
                          "type": "string",
                          "example": "cpr.addresschange"
                        },
                        "cprList": {
                          "type": "array",
                          "example": "[]"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
          }
        }
      }
    },
    "/subscription/1/manager/subscriber/subscription/dataeventSubscribtion/{dataEventId}": {

      "put": {
        "summary": "Modificer en subscription",
        "description": "Der rettes en subscription i datafordeleren via en put til denne service. Denne subscription er tilknyttet den bruger, som oprettede denne.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "parameters": [
          {
            "name": "kodeId",
            "description": "The Id to use to compare the events",
            "example": "cpr.dataevent.cpr_person_address_record"
          },
          {
            "name": "cprList",
            "description": "The list to use in order to filter out CPR-numbers that is not relevant to the data-consumer",
            "example": "list01"
          },
          {
            "name": "cvrList",
            "description": "The list to use in order to filter out CVR-numbers that is not relevant to the data-consumer",
            "example": "list01"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
            }
          }
        }
      },
      "delete": {
        "summary": "Slet en subscription",
        "description": "Der kan slettes en tidligere oprettet subscription ved kald til dette link.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "parameters": [
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
            }
          }
        }
      },
      "get": {
        "summary": "Hen en subscription",
        "description": "Der hentes en subscription i datafordeleren via en get til denne service. Denne subscription er tilknyttet den bruger, som oprettede denne.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "parameters": [
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
            }
          }
        }
      }
    },
    "/subscription/1/manager/subscriber/cprList": {
      "get": {
        "summary": "Hent en liste over alle CPR-lister",
        "description": "Der returneres en liste over alle CPR-lister til brug for subscriptions i datafordeleren.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "parameters": [
          {
          }
        ],
        "responses": {
          "200": {
            "description": "Liste over CPR-lister",
            "content": {
            }
          }
        }
      },
      "post": {
        "summary": "Opret en CPR-liste i datafordeleren",
        "description": "CPR-listen kan benyttes af en subscription for filtrering i hvilke CPR-numre der skal informeres om ændringer på.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "parameters": [
          {
            "name": "cprList",
            "description": "The unique id of the list to get created",
            "example": "listId1"
          }
        ],
        "responses": {
          "200": {
            "description": "Liste over CPR-lister",
            "content": {
            }
          }
        }
      }
    },
    "/subscription/1/manager/subscriber/cprList/cpr/{listId}": {
      "post": {
        "summary": "Tilføj CPR-numre til en CPR-liste",
        "description": "Der kan tilføjes CPR-numre til en liste, CPR-numrene kan enten tilføjes en af gangen eller som en liste.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "parameters": [
          {
            "name": "cpr",
            "description": "A list of CPR-numbers to add to the list",
            "example": "1111111111,1111111112,111111113,1111111114"
          }
        ],
        "responses": {
          "200": {
            "description": "Liste over CPR-lister",
            "content": {
            }
          }
        }
      },
      "delete": {
        "summary": "Slet CPR-numre fra en CPR-liste",
        "description": "Der slettes CPR-numre fra en CPR-liste.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "parameters": [
        ],
        "responses": {
          "200": {
            "description": "Success of failure",
            "content": {
            }
          }
        }
      }
    },
    "/subscription/1/manager/subscriber/cprList/cpr": {
      "get": {
        "summary": "Hent en liste over alle CPR-numre, der er tilføjet til denne CPR-liste",
        "description": "Hent en liste over alle CPR-numre, der er tilføjet til denne CPR-liste. Listen af CPR-numre returneres med pagination.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "parameters": [
          {
            "name": "pageSize",
            "description": "The pagesize to use in case it is a long list",
            "example": "100"
          },
          {
            "name": "page",
            "description": "The page to find in case it is a long list",
            "example": "1"
          },
          {
            "name": "listId",
            "description": "The identification of the list to find",
            "example": "list01"
          }
        ],
        "responses": {
          "200": {
            "description": "Liste over CPR-numre",
            "content": {
            }
          }
        }
      }
    },
    "/subscription/1/manager/subscriber/cvrList": {
      "get": {
        "summary": "Hent en liste over alle CPR-lister",
        "description": "Der returneres en liste over alle CVR-lister til brug for subscriptions i datafordeleren.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "parameters": [
          {
          }
        ],
        "responses": {
          "200": {
            "description": "Liste over CVR-lister",
            "content": {
            }
          }
        }
      },
      "post": {
        "summary": "Opret en CVR-liste i datafordeleren",
        "description": "CPR-listen kan benyttes af en subscription for filtrering i hvilke CPR-numre der skal informeres om ændringer på.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "parameters": [
          {
            "name": "cvrList",
            "description": "The unique id of the list to get created",
            "example": "listId1"
          }
        ],
        "responses": {
          "200": {
            "description": "Liste over CVR-lister",
            "content": {
            }
          }
        }
      }
    },
    "/subscription/1/manager/subscriber/cvrList/cvr/{listId}": {
      "post": {
        "summary": "Tilføj CVR-numre til en CVR-liste",
        "description": "Der kan tilføjes CVR-numre til en liste, CVR-numrene kan enten tilføjes en af gangen eller som en liste.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "parameters": [
          {
            "name": "cvr",
            "description": "A list of CPR-numbers to add to the list",
            "example": "11111111,11111112,1111113,11111114"
          }
        ],
        "responses": {
          "200": {
            "description": "Liste over CVR-lister",
            "content": {
            }
          }
        }
      },
      "delete": {
        "summary": "Slet CPR-numre fra en CPR-liste",
        "description": "Der slettes CPR-numre fra en CPR-liste.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "parameters": [
        ],
        "responses": {
          "200": {
            "description": "Success of failure",
            "content": {
            }
          }
        }
      }
    },
    "/subscription/1/manager/subscriber/cvrList/cvr": {
      "get": {
        "summary": "Hent en liste over alle CVR-numre, der er tilføjet til denne CVR-liste",
        "description": "Hent en liste over alle CVR-numre, der er tilføjet til denne CVR-liste. Listen af CVR-numre returneres med pagination.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "parameters": [
          {
            "name": "pageSize",
            "description": "The pagesize to use in case it is a long list",
            "example": "100"
          },
          {
            "name": "page",
            "description": "The page to find in case it is a long list",
            "example": "1"
          },
          {
            "name": "listId",
            "description": "The identification of the list to find",
            "example": "list01"
          }
        ],
        "responses": {
          "200": {
            "description": "Liste over CVR-numre",
            "content": {
            }
          }
        }
      }
    },
    "/subscription/1/findCprBusinessEvent/fetchEvents/": {
      "get": {
        "summary": "Hent en liste over alle ændringer, som i sket i forhold til det oprettede abonnement",
        "description": "Der returneres en liste over alle CPR-numre i en liste. Denne service er dedikeret til at finde businessevents, som er sket på CPR-numre.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "parameters": [
          {
            "name": "pageSize",
            "description": "The pagesize to use in case it is a long list",
            "example": "100"
          },
          {
            "name": "page",
            "description": "The page to find in case it is a long list",
            "example": "1"
          },
          {
            "name": "subscribtion",
            "description": "The unique ID of the subscription",
            "example": "subscriptionId01"
          },
          {
            "name": "timestamp.GTE",
            "description": "Timestamp 'greater-than-or-equals'",
            "example": "2020-10-26T12:00-03:00"
          },
          {
            "name": "timestamp.LTE",
            "description": "Timestamp 'less-than-or-equals'",
            "example": "2020-10-26T12:00-03:00"
          }
        ],
        "responses": {
          "200": {
            "description": "Liste over CVR-lister",
            "content": {
            }
          }
        }
      }
    },
    "/subscription/1/findCprDataEvent/fetchEvents/": {
      "get": {
        "summary": "Hent en liste over alle ændringer, som i sket i forhold til det oprettede abonnement",
        "description": "Der returneres en liste over alle CPR-numre i en liste. Denne service er dedikeret til at finde dataevents, som er sket på CPR-numre.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "parameters": [
          {
            "name": "pageSize",
            "description": "The pagesize to use in case it is a long list",
            "example": "100"
          },
          {
            "name": "page",
            "description": "The page to find in case it is a long list",
            "example": "1"
          },
          {
            "name": "subscribtion",
            "description": "The unique ID of the subscription",
            "example": "subscriptionId01"
          },
          {
            "name": "timestamp.GTE",
            "description": "Timestamp 'greater-than-or-equals'",
            "example": "2020-10-26T12:00-03:00"
          },
          {
            "name": "timestamp.LTE",
            "description": "Timestamp 'less-than-or-equals'",
            "example": "2020-10-26T12:00-03:00"
          }
        ],
        "responses": {
          "200": {
            "description": "Liste over CVR-lister",
            "content": {
            }
          }
        }
      }
    },
    "/subscription/1/findCvrDataEvent/fetchEvents/": {
      "get": {
        "summary": "Hent en liste over alle ændringer, som i sket i forhold til det oprettede abonnement",
        "description": "Der returneres en liste over alle CPR-numre i en liste. Denne service er dedikeret til at finde dataevents, som er sket på CVR-numre.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "parameters": [
          {
            "name": "pageSize",
            "description": "The pagesize to use in case it is a long list",
            "example": "100"
          },
          {
            "name": "page",
            "description": "The page to find in case it is a long list",
            "example": "1"
          },
          {
            "name": "subscribtion",
            "description": "The unique ID of the subscription",
            "example": "subscriptionId01"
          },
          {
            "name": "timestamp.GTE",
            "description": "Timestamp 'greater-than-or-equals'",
            "example": "2020-10-26T12:00-03:00"
          },
          {
            "name": "timestamp.LTE",
            "description": "Timestamp 'less-than-or-equals'",
            "example": "2020-10-26T12:00-03:00"
          }
        ],
        "responses": {
          "200": {
            "description": "Liste over CVR-lister",
            "content": {
            }
          }
        }
      }
    }
  }
}