{
  "openapi": "3.0.1",
  "info": {
    "title": "Datafordeler - abonnementsløsning",
    "description": "Målgruppen for denne dokumentation er primært udviklere og tekniske projektledere der har brug for at trække data fra datafordeleren, sekundært Selvstyrets og Digitaliseringsstyrelsens medarbejdere med relation til ERP-projektet. For at få adgang til datafordelerens abonnementsløsning skal brugeren oprettes i Pitu. Der refereres i dette dokument til dafo-serverens endpoint, der findes tilsvarende for testmiljø og demomiljø",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://dafo.data.gl"
    }
  ],
  "paths": {
    "/subscription/1/manager/subscriber": {
      "post": {
        "summary": "Administration af subscribers i datafordeleren",
        "description": "Ved kald til servicen med en POST, oprettes en subscriber tilknyttet den bruger som laver kaldet. Der kan kun eksistere en subscriber, så efterfølgende kald via POST til denne service medfører en fejl.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "responses": {
          "200": {
            "description": "Denne service returnere den subscriber, som bliver oprettet ved kaldet, dog under forudsætning af at subscribers kan oprettes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subscriberId": {
                      "type": "string",
                      "example": "PITU_GOV_DIA_magenta_services"
                    },
                    "cprLists": {
                      "type": "array",
                      "example": "[]"
                    },
                    "cvrLists": {
                      "type": "array",
                      "example": "[]"
                    },
                    "businessEventSubscription": {
                      "type": "array",
                      "example": "[]"
                    },
                    "dataEventSubscription": {
                      "type": "array",
                      "example": "[]"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Denne service returnere en fejlbesked, hvis der ikke kan oprettes en subscriber.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "Failed creating subscriber"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Denne service returnere en fejlbesked, hvis der ikke kan oprettes en subscriber.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "Failed creating subscriber"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Der returneres en liste over alle subscribers i datafordeleren",
        "description": "Der returneres en liste over alle subscribers i datafordeleren.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "responses": {
          "200": {
            "description": "Denne service returnere den subscriber, som bliver oprettet ved kaldet, dog under forudsætning af at subscribers kan oprettes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "example": "[{\n  \"subscriberId\": \"PITU_GOV_DIA_magenta_services1\",\n  \"cprLists\": [],\n  \"cvrLists\": [],\n  \"businessEventSubscription\": [],\n  \"dataEventSubscription\": []\n}, {\n  \"subscriberId\": \"PITU_GOV_DIA_magenta_services2\",\n  \"cprLists\": [],\n  \"cvrLists\": [],\n  \"businessEventSubscription\": [],\n  \"dataEventSubscription\": []\n}]"
                }
              }
            }
          }
        }
      }
    },
    "/subscription/1/manager/subscriber/{subscriberId}": {
      "get": {
        "summary": "Hent subscriber i datafordeleren",
        "description": "Ved kald til servicen med en GET, hentes subscribers. Der kan kun eksistere en subscriber, så efterfølgende kald via POST til denne service medfører en fejl.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "responses": {
          "200": {
            "description": "Denne service returnere den subscriber, som er identificeret ved det ID der kaldes med.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subscriberId": {
                      "type": "string",
                      "example": "PITU_GOV_DIA_magenta_services"
                    },
                    "cprLists": {
                      "type": "array",
                      "example": "[]"
                    },
                    "cvrLists": {
                      "type": "array",
                      "example": "[]"
                    },
                    "businessEventSubscription": {
                      "type": "array",
                      "example": "[]"
                    },
                    "dataEventSubscription": {
                      "type": "array",
                      "example": "[]"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Denne service returnere en fejlbesked, hvis der ikke kan findes den forespurgte subscriber.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "Could not find subscriber"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subscription/1/manager/subscriber/subscription/businesseventSubscribtion": {
      "post": {
        "summary": "Opret en subscription",
        "description": "Der oprettes en businesseventSubscribtion i datafordeleren via en post til denne url. Denne subscription bliver tilknyttet den bruger, som opretter denne.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "parameters": [
          {
            "name": "businessEventId",
            "in": "query",
            "description": "The unique id of the eventId to get created",
            "examples": {
              "Ex1": {
                "value": "eventId1"
              }
            }
          },
          {
            "name": "kodeId",
            "in": "query",
            "description": "The Id to use to compare the events",
            "examples": {
              "Ex1": {
                "value": "cpr.businessevent.A01"
              },
              "Ex2": {
                "value": "cpr.businessevent.A02"
              },
              "Ex3": {
                "value": "cpr.businessevent.A03"
              },
              "Ex4": {
                "value": "cpr.businessevent.A04"
              }
            }
          },
          {
            "name": "cprList",
            "in": "query",
            "description": "The list to use in order to filter out CPR-numbers that is not relevant to the data-consumer",
            "examples": {
              "Ex1": {
                "value": "list01"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Denne service returnere den oprettede subscription ved oprettelse",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "businessEventId": {
                      "type": "string",
                      "example": "PITU_GOV_DIA_magenta_services"
                    },
                    "kodeId": {
                      "type": "string",
                      "example": "cpr.businessevent.A01"
                    },
                    "cprList": {
                      "type": "array",
                      "example": "[]"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Denne service returnere en fejlbesked, hvis der ikke kan oprettes en subscription.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "Subscription already exists"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Denne service returnere en fejlbesked, hvis der ikke kan oprettes en subscription.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "Failed adding element"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Returner en liste over alle businesseventSubscription i datafordeleren",
        "description": "Der returneres en liste over alle businesseventSubscription, der eksistere under den bruger som laver kaldet.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "responses": {
          "200": {
            "description": "Denne service returnere en liste af subscriptions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "businessEventId": {
                        "type": "string",
                        "example": "PITU_GOV_DIA_magenta_services"
                      },
                      "kodeId": {
                        "type": "string",
                        "example": "cpr.businessevent.A01"
                      },
                      "cprList": {
                        "type": "array",
                        "example": "[]"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subscription/1/manager/subscriber/subscription/businesseventSubscribtion/{businessEventId}": {
      "put": {
        "summary": "Modificer en subscription",
        "description": "Der rettes en businesseventSubscribtion i datafordeleren via en put til denne url. Denne subscription er tilknyttet den bruger, som oprettede denne.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "parameters": [
          {
            "name": "kodeId",
            "description": "The Id to use to compare the events",
            "example": "cpr.businessevent.A01"
          },
          {
            "name": "cprList",
            "description": "The list to use in order to filter out CPR-numbers that is not relevant to the data-consumer",
            "example": "list01"
          }
        ],
        "responses": {
          "200": {
            "description": "Denne service returnere den modificerede subscription",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "businessEventId": {
                      "type": "string",
                      "example": "PITU_GOV_DIA_magenta_services"
                    },
                    "kodeId": {
                      "type": "string",
                      "example": "cpr.businessevent.A01"
                    },
                    "cprList": {
                      "type": "array",
                      "example": "[]"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Denne service returnere en fejlbesked, hvis brugeren ikke har adgang denne subscription",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "No access to this list"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Denne service returnere en fejlbesked, hvis den forespurgte subscription ikke kan findes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "Subscription could not be found"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Slet en subscription",
        "description": "Der kan slettes en tidligere oprettet subscription ved kald til dette link.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "responses": {
          "200": {
            "description": "Denne service returnere den slettede subscription",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "businessEventId": {
                      "type": "string",
                      "example": "PITU_GOV_DIA_magenta_services"
                    },
                    "kodeId": {
                      "type": "string",
                      "example": "cpr.businessevent.A01"
                    },
                    "cprList": {
                      "type": "array",
                      "example": "[]"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Denne service returnere en fejlbesked, hvis brugeren ikke har adgang denne subscription",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "No access to this list"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Denne service returnere en fejlbesked, hvis den forespurgte subscription ikke han findes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "Subscription could not be found"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Hent en subscription",
        "description": "Der hentes en subscription i datafordeleren via en get til denne service. Denne subscription er tilknyttet den bruger, som oprettede denne.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "responses": {
          "200": {
            "description": "Denne service returnere den fremfundne subscription",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "businessEventId": {
                      "type": "string",
                      "example": "PITU_GOV_DIA_magenta_services"
                    },
                    "kodeId": {
                      "type": "string",
                      "example": "cpr.businessevent.A01"
                    },
                    "cprList": {
                      "type": "array",
                      "example": "[]"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Denne service returnere en fejlbesked, hvis den forespurgte subscription ikke han findes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "Subscription could not be found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subscription/1/manager/subscriber/subscription/dataeventSubscribtion": {
      "post": {
        "summary": "Opret en subscription",
        "description": "Der oprettes en subscription i datafordeleren via en post til denne service. Denne subscription bliver tilknyttet den bruger, som opretter denne.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "parameters": [
          {
            "name": "businessEventId",
            "description": "The unique id of the eventId to get created",
            "example": "eventId1"
          },
          {
            "name": "kodeId",
            "description": "The Id to use to compare the events",
            "example": "cpr.dataevent.cpr_person_address_record"
          },
          {
            "name": "cprList",
            "description": "The list to use in order to filter out CPR-numbers that is not relevant to the data-consumer",
            "example": "list01"
          },
          {
            "name": "cvrList",
            "description": "The list to use in order to filter out CVR-numbers that is not relevant to the data-consumer",
            "example": "list01"
          }
        ],
        "responses": {
          "200": {
            "description": "Denne service returnere den oprettede subscription ved oprettelse",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "businessEventId": {
                      "type": "string",
                      "example": "PITU_GOV_DIA_magenta_services"
                    },
                    "kodeId": {
                      "type": "string",
                      "example": "cpr.dataevent.cvr_record_address"
                    },
                    "cprList": {
                      "type": "array",
                      "example": "[]"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Denne service returnere en fejlbesked, hvis der ikke kan oprettes en subscription.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "Subscription already exists"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Denne service returnere en fejlbesked, hvis der ikke kan oprettes en subscription.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "Failed adding element"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Der returneres en liste over alle dataeventSubscription i datafordeleren",
        "description": "Der returneres en liste over alle dataeventSubscription der eksistere under den bruger som laver kaldet",
        "responses": {
          "200": {
            "description": "Denne service returnere en liste af subscriptions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "businessEventId": {
                        "type": "string",
                        "example": "PITU_GOV_DIA_magenta_services"
                      },
                      "kodeId": {
                        "type": "string",
                        "example": "cpr.dataevent.cvr_record_address"
                      },
                      "cprList": {
                        "type": "array",
                        "example": "[]"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subscription/1/manager/subscriber/subscription/dataeventSubscribtion/{dataEventId}": {

      "put": {
        "summary": "Modificer en subscription",
        "description": "Der rettes en subscription i datafordeleren via en put til denne service. Denne subscription er tilknyttet den bruger, som oprettede denne.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "parameters": [
          {
            "name": "kodeId",
            "description": "The Id to use to compare the events",
            "example": "cpr.dataevent.cpr_person_address_record"
          },
          {
            "name": "cprList",
            "description": "The list to use in order to filter out CPR-numbers that is not relevant to the data-consumer",
            "example": "list01"
          },
          {
            "name": "cvrList",
            "description": "The list to use in order to filter out CVR-numbers that is not relevant to the data-consumer",
            "example": "list01"
          }
        ],
        "responses": {
          "200": {
            "description": "Denne service returnere den modificerede subscription",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "businessEventId": {
                      "type": "string",
                      "example": "PITU_GOV_DIA_magenta_services"
                    },
                    "kodeId": {
                      "type": "string",
                      "example": "cpr.businessevent.A01"
                    },
                    "cprList": {
                      "type": "array",
                      "example": "[]"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Denne service returnere en fejlbesked, hvis brugeren ikke har adgang denne subscription",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "No access to this list"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Denne service returnere en fejlbesked, hvis den forespurgte subscription ikke kan findes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "Subscription could not be found"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Slet en subscription",
        "description": "Der kan slettes en tidligere oprettet subscription ved kald til dette link.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "parameters": [
        ],
        "responses": {
          "200": {
            "description": "Denne service returnere den slettede subscription",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "businessEventId": {
                      "type": "string",
                      "example": "PITU_GOV_DIA_magenta_services"
                    },
                    "kodeId": {
                      "type": "string",
                      "example": "cpr.businessevent.A01"
                    },
                    "cprList": {
                      "type": "array",
                      "example": "[]"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Denne service returnere en fejlbesked, hvis brugeren ikke har adgang denne subscription",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "No access to this list"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Denne service returnere en fejlbesked, hvis den forespurgte subscription ikke han findes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "Subscription could not be found"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Hent en subscription",
        "description": "Der hentes en subscription i datafordeleren via en get til denne service. Denne subscription er tilknyttet den bruger, som oprettede denne.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "parameters": [
        ],
        "responses": {
          "200": {
            "description": "Denne service returnere den fremfundne subscription",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "businessEventId": {
                      "type": "string",
                      "example": "PITU_GOV_DIA_magenta_services"
                    },
                    "kodeId": {
                      "type": "string",
                      "example": "cpr.businessevent.A01"
                    },
                    "cprList": {
                      "type": "array",
                      "example": "[]"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Denne service returnere en fejlbesked, hvis den forespurgte subscription ikke han findes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "Subscription could not be found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subscription/1/manager/subscriber/cprList": {
      "get": {
        "summary": "Hent en liste over alle CPR-lister",
        "description": "Der returneres en liste over alle CPR-lister til brug for subscriptions i datafordeleren.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "responses": {
          "200": {
            "description": "Denne service returnere en liste over alle CPR-lister",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "example": "[\n{\n  \"listId\": \"list01\"\n  },\n  {\n  \"listId\": list01\n}\n]"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Opret en CPR-liste i datafordeleren",
        "description": "CPR-listen kan benyttes af en subscription for filtrering i hvilke CPR-numre der skal informeres om ændringer på.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "parameters": [
          {
            "name": "cprList",
            "description": "The unique id of the list to get created"
          }
        ],
        "responses": {
          "200": {
            "description": "Denne service returnere den fremfundne subscription",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "listId": {
                      "type": "string",
                      "example": "{\n  \"listId\": \"list01\",\n  \"listId\": list01\n}"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Denne service returnere en fejlbesked, hvis en liste med samme navn allerede er oprettet.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "cprList already exists"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Denne service returnere en fejlbesked, hvis en generel fejl opstår.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "Failed creating list"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subscription/1/manager/subscriber/cprList/cpr/{listId}": {
      "post": {
        "summary": "Tilføj CPR-numre til en CPR-liste",
        "description": "Der kan tilføjes CPR-numre til en liste, CPR-numrene kan enten tilføjes en af gangen eller som en liste.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "parameters": [
          {
            "in": "body",
            "name": "cpr",
            "description": "A list of CPR-numbers to add to the list",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": "[\"1111111111\",\"1111111112\",\"111111113\",\"1111111114\"]"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Denne service returnere besked om at elementer er tilføjet.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "Elements were added"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Denne service returnere en fejlbesked, hvis brugeren ikke har adgang til listen",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "No access to this list"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Denne service returnere en fejlbesked, hvis en fejl opstår.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "Elements allready exists"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Denne service returnere en fejlbesked, hvis en fejl opstår.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "Failure"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Slet CPR-numre fra en CPR-liste",
        "description": "Der slettes CPR-numre fra en CPR-liste.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "parameters": [
        ],
        "responses": {
          "200": {
            "description": "Denne service returnere besked om at elementer er slettet",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "Elements were added"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Denne service returnere en fejlbesked, hvis brugeren ikke har adgang til listen",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "No access to this list"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Denne service returnere en fejlbesked, hvis en fejl opstår.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "Elements allready exists"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Denne service returnere en fejlbesked, hvis en fejl opstår.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "Failure"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subscription/1/manager/subscriber/cprList/cpr": {
      "get": {
        "summary": "Hent en liste over alle CPR-numre, der er tilføjet til denne CPR-liste",
        "description": "Hent en liste over alle CPR-numre, der er tilføjet til denne CPR-liste. Listen af CPR-numre returneres med pagination.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "parameters": [
          {
            "name": "pageSize",
            "description": "The pagesize to use in case it is a long list",
            "example": "100"
          },
          {
            "name": "page",
            "description": "The page to find in case it is a long list",
            "example": "1"
          },
          {
            "name": "listId",
            "description": "The identification of the list to find",
            "example": "list01"
          }
        ],
        "responses": {
          "200": {
            "description": "Liste over personer, som er oprettet under den forespurgte liste",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "string"
                    },
                    "terms": {
                      "type": "string"
                    },
                    "requestTimestamp": {
                      "type": "string"
                    },
                    "responseTimestamp": {
                      "type": "string"
                    },
                    "username": {
                      "type": "string"
                    },
                    "page": {
                      "type": "number"
                    },
                    "pageSize": {
                      "type": "number"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": ["1111111111","1111111112","1111111113","1111111114"]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Denne service returnere en fejlbesked, hvis brugeren ikke har adgang til listen",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "No access to this list"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subscription/1/manager/subscriber/cvrList": {
      "get": {
        "summary": "Hent en liste over alle CPR-lister",
        "description": "Der returneres en liste over alle CVR-lister til brug for subscriptions i datafordeleren.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "responses": {
          "200": {
            "description": "Denne service returnere en liste over alle CVR-lister",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "example": "[\n{\n  \"listId\": \"list01\"\n  },\n  {\n  \"listId\": list01\n}\n]"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Opret en CVR-liste i datafordeleren",
        "description": "CPR-listen kan benyttes af en subscription for filtrering i hvilke CPR-numre der skal informeres om ændringer på.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "parameters": [
          {
            "name": "cvrList",
            "description": "The unique id of the list to get created",
            "example": "listId1"
          }
        ],
        "responses": {
          "200": {
            "description": "Denne service returnere en liste over alle CPR-lister",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "example": "{\n  \"listId\": \"list01\",\n  \"listId\": list01\n}"
                }
              }
            }
          }
        }
      }
    },
    "/subscription/1/manager/subscriber/cvrList/cvr/{listId}": {
      "post": {
        "summary": "Tilføj CVR-numre til en CVR-liste",
        "description": "Der kan tilføjes CVR-numre til en liste, CVR-numrene kan enten tilføjes en af gangen eller som en liste.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "parameters": [
          {
            "in": "body",
            "name": "cvr",
            "description": "A list of CVR-numbers to add to the list",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": "[\"11111111\",\"11111112\",\"1111113\",\"11111114\"]"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Denne service returnere besked om at elementer er tilføjet.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "Elements were added"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Denne service returnere en fejlbesked, hvis brugeren ikke har adgang til listen",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "No access to this list"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Denne service returnere en fejlbesked, hvis en fejl opstår.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "Elements allready exists"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Denne service returnere en fejlbesked, hvis en fejl opstår.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "Failure"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Slet CPR-numre fra en CPR-liste",
        "description": "Der slettes CPR-numre fra en CPR-liste.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "parameters": [
        ],
        "responses": {
          "200": {
            "description": "Denne service returnere besked om at elementer er slettet",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "Elements were added"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Denne service returnere en fejlbesked, hvis brugeren ikke har adgang til listen",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "No access to this list"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Denne service returnere en fejlbesked, hvis en fejl opstår.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "Elements allready exists"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Denne service returnere en fejlbesked, hvis en fejl opstår.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "Failure"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subscription/1/manager/subscriber/cvrList/cvr": {
      "get": {
        "summary": "Hent en liste over alle CVR-numre, der er tilføjet til denne CVR-liste",
        "description": "Hent en liste over alle CVR-numre, der er tilføjet til denne CVR-liste. Listen af CVR-numre returneres med pagination.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "parameters": [
          {
            "name": "pageSize",
            "description": "The pagesize to use in case it is a long list",
            "example": "100"
          },
          {
            "name": "page",
            "description": "The page to find in case it is a long list",
            "example": "1"
          },
          {
            "name": "listId",
            "description": "The identification of the list to find",
            "example": "list01"
          }
        ],
        "responses": {
          "200": {
            "description": "Liste over personer, som er oprettet under den forespurgte liste",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "string"
                    },
                    "terms": {
                      "type": "string"
                    },
                    "requestTimestamp": {
                      "type": "string"
                    },
                    "responseTimestamp": {
                      "type": "string"
                    },
                    "username": {
                      "type": "string"
                    },
                    "page": {
                      "type": "number"
                    },
                    "pageSize": {
                      "type": "number"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": ["11111111","11111112","11111113","11111114"]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Denne service returnere en fejlbesked, hvis brugeren ikke har adgang til listen",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "No access to this list"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subscription/1/findCprBusinessEvent/fetchEvents/": {
      "get": {
        "summary": "Hent en liste over alle ændringer, som i sket i forhold til det oprettede abonnement",
        "description": "Der returneres en liste over alle CPR-numre i en liste. Denne service er dedikeret til at finde businessevents, som er sket på CPR-numre.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "parameters": [
          {
            "name": "pageSize",
            "description": "The pagesize to use in case it is a long list",
            "example": "100"
          },
          {
            "name": "page",
            "description": "The page to find in case it is a long list",
            "example": "1"
          },
          {
            "name": "subscribtion",
            "description": "The unique ID of the subscription",
            "example": "subscriptionId01"
          },
          {
            "name": "timestamp.GTE",
            "description": "Timestamp 'greater-than-or-equals'",
            "example": "2020-10-26T12:00-03:00"
          },
          {
            "name": "timestamp.LTE",
            "description": "Timestamp 'less-than-or-equals'",
            "example": "2020-10-26T12:00-03:00"
          }
        ],
        "responses": {
          "200": {
            "description": "Liste over CVR-numre hvor der er sket ændringer i forhold til reglerne defineret i abonnementet",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "string"
                    },
                    "terms": {
                      "type": "string"
                    },
                    "requestTimestamp": {
                      "type": "string"
                    },
                    "responseTimestamp": {
                      "type": "string"
                    },
                    "newestResultTimestamp": {
                      "type": "string"
                    },
                    "username": {
                      "type": "string"
                    },
                    "page": {
                      "type": "number"
                    },
                    "pageSize": {
                      "type": "number"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": ["11111111","11111112","11111113","11111114"]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Denne service returnere en fejlbesked, hvis der ikke er oprettet adgang",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "No access"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Denne service returnere en fejlbesked, hvis denne subscription ikke kan findes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "Subscription not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subscription/1/findCprDataEvent/fetchEvents/": {
      "get": {
        "summary": "Hent en liste over alle ændringer, som i sket i forhold til det oprettede abonnement",
        "description": "Der returneres en liste over alle CPR-numre i en liste. Denne service er dedikeret til at finde dataevents, som er sket på CPR-numre.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "parameters": [
          {
            "name": "pageSize",
            "description": "The pagesize to use in case it is a long list",
            "example": "100"
          },
          {
            "name": "page",
            "description": "The page to find in case it is a long list",
            "example": "1"
          },
          {
            "name": "subscribtion",
            "description": "The unique ID of the subscription",
            "example": "subscriptionId01"
          },
          {
            "name": "timestamp.GTE",
            "description": "Timestamp 'greater-than-or-equals'",
            "example": "2020-10-26T12:00-03:00"
          },
          {
            "name": "timestamp.LTE",
            "description": "Timestamp 'less-than-or-equals'",
            "example": "2020-10-26T12:00-03:00"
          }
        ],
        "responses": {
          "200": {
            "description": "Liste over CVR-numre hvor der er sket ændringer i forhold til reglerne defineret i abonnementet",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "string"
                    },
                    "terms": {
                      "type": "string"
                    },
                    "requestTimestamp": {
                      "type": "string"
                    },
                    "responseTimestamp": {
                      "type": "string"
                    },
                    "newestResultTimestamp": {
                      "type": "string"
                    },
                    "username": {
                      "type": "string"
                    },
                    "page": {
                      "type": "number"
                    },
                    "pageSize": {
                      "type": "number"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": ["11111111","11111112","11111113","11111114"]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Denne service returnere en fejlbesked, hvis der ikke er oprettet adgang",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "No access"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Denne service returnere en fejlbesked, hvis denne subscription ikke kan findes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "Subscription not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subscription/1/findCvrDataEvent/fetchEvents/": {
      "get": {
        "summary": "Hent en liste over alle ændringer, som i sket i forhold til det oprettede abonnement",
        "description": "Der returneres en liste over alle CPR-numre i en liste. Denne service er dedikeret til at finde dataevents, som er sket på CVR-numre.<br /><br />PITU:<br />Servicenavn: PITU/GOV/DIA/magenta_services/DAFO-SUBSCRIPTION/1<br />Sti under /restapi/: /search/<br />Fuld sti ved kald til pitu: http[s]://<security-server>/restapi/search/",
        "parameters": [
          {
            "name": "pageSize",
            "description": "The pagesize to use in case it is a long list",
            "example": "100"
          },
          {
            "name": "page",
            "description": "The page to find in case it is a long list",
            "example": "1"
          },
          {
            "name": "subscribtion",
            "description": "The unique ID of the subscription",
            "example": "subscriptionId01"
          },
          {
            "name": "timestamp.GTE",
            "description": "Timestamp 'greater-than-or-equals'",
            "example": "2020-10-26T12:00-03:00"
          },
          {
            "name": "timestamp.LTE",
            "description": "Timestamp 'less-than-or-equals'",
            "example": "2020-10-26T12:00-03:00"
          }
        ],
        "responses": {
          "200": {
            "description": "Liste over CVR-numre hvor der er sket ændringer i forhold til reglerne defineret i abonnementet",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "string"
                    },
                    "terms": {
                      "type": "string"
                    },
                    "requestTimestamp": {
                      "type": "string"
                    },
                    "responseTimestamp": {
                      "type": "string"
                    },
                    "newestResultTimestamp": {
                      "type": "string"
                    },
                    "username": {
                      "type": "string"
                    },
                    "page": {
                      "type": "number"
                    },
                    "pageSize": {
                      "type": "number"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": ["11111111","11111112","11111113","11111114"]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Denne service returnere en fejlbesked, hvis der ikke er oprettet adgang",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "No access"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Denne service returnere en fejlbesked, hvis denne subscription ikke kan findes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "example": "Subscription not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}