<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sample SAML Spring Boot Application</title>
</head>
<body>
<h1>Welcome to DAFO SSO</h1>
<p>You have to following options:</p>
<ul>
    <li><a th:href="@{/by_saml_sso/get_token}">Get a token using SAML Single Sign On</a>.</li>
    <li>
        Get a token using username and password:<br />
        <form name="usernamepasswordform" h:action="@{/get_token_passive}" method="GET">
            <div>
                <label for="username">Username</label>
                <input type="text" name="username" id="username" value="" />
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" value="" />
            </div>
            <input type="submit" value="Get token" />
        </form>
    </li>
    <li>
        <label for="tokendata">Get a token using a bootstrap token:</label><br />
        <form name="bootstraptokenform" th:action="@{/get_token_passive}" method="GET">
            <textarea name="bootstrap_token" id="tokendata" rows="4" cols="52"></textarea><br />
            <input type="submit" value="Get token" />
        </form>
    </li>
</ul>
</body>
</html>