{
  "openapi": "3.0.1",
  "info": {
    "title": "Datafordeler",
    "description": "API description in Markdown.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://dafo.data.gl"
    }
  ],
  "paths": {
    "/cpr/person/1/rest/search": {
      "get": {
        "summary": "Søgeinterface for CPR persondata.",
        "description": "Ved søgning efter personer skal mindst én søgeparameter angives. Alle søgeparametre kan indeholde wildcard. De indeholdte data er begrænset til personer med tilknytning til Grønland.",
        "parameters": [
          {
            "name": "pnr",
            "in": "query",
            "description": "Personnummer",
            "examples": {
              "fuld": {
                "value": "0102800123"
              },
              "wildcard": {
                "value": "010280*"
              }
            }
          },
          {
            "name": "fornavn",
            "in": "query",
            "description": "Fornavn(e) på personen.",
            "examples": {
              "fuld": {
                "value": "Jens"
              },
              "wildcard": {
                "value": "Jen*"
              }
            }
          },
          {
            "name": "efternavn",
            "in": "query",
            "description": "Efternavn på personen.",
            "examples": {
              "fuld": {
                "value": "Hansen"
              },
              "wildcard": {
                "value": "Hans*"
              }
            }
          },
          {
            "name": "kommunekode",
            "in": "query",
            "description": "Kommunekode for personens bopæl",
            "examples": {
              "fuld": {
                "value": "956"
              },
              "wildcard": {
                "value": "95*"
              }
            }
          },
          {
            "name": "vejkode",
            "in": "query",
            "description": "Vejkode for personens bopæl",
            "examples": {
              "fuld": {
                "value": "100"
              },
              "wildcard": {
                "value": "1*"
              }
            }
          },
          {
            "name": "husnummer",
            "in": "query",
            "description": "Husnummer for personens bopæl",
            "examples": {
              "fuld": {
                "value": "23"
              },
              "wildcard": {
                "value": "2*"
              }
            }
          },
          {
            "name": "etage",
            "in": "query",
            "description": "Etage for personens bopæl",
            "examples": {
              "fuld": {
                "value": "1"
              },
              "wildcard": {
                "value": "*"
              }
            }
          },
          {
            "name": "sidedør",
            "in": "query",
            "description": "Sidedør for personens bopæl",
            "examples": {
              "fuld": {
                "value": "tv"
              },
              "wildcard": {
                "value": "*"
              }
            }
          },
          {
            "name": "bnr",
            "in": "query",
            "description": "Bnr for personens bopæl",
            "examples": {
              "fuld": {
                "value": "1234"
              },
              "wildcard": {
                "value": "12*"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Liste af matchende personer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "string"
                    },
                    "terms": {
                      "type": "string"
                    },
                    "requestTimestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "responseTimestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "username": {
                      "type": "string"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "pageSize": {
                      "type": "integer"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "pnr": {
                            "type": "string",
                            "example": "0102800123"
                          },
                          "uuid": {
                            "type": "string",
                            "example": "92035a6b-68f5-4ce3-b8a7-9d9a96199b12"
                          },
                          "domæne": {
                            "type": "string",
                            "example": "https://data.gl/cpr/person/1/rest/"
                          },
                          "navn": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "fornavn": {
                                  "type": "string",
                                  "example": "Jens"
                                },
                                "mellemnavn": {
                                  "type": "string",
                                  "example": null
                                },
                                "efternavn": {
                                  "type": "string",
                                  "example": "Hansen"
                                },
                                "egetEfternavn": {
                                  "type": "string",
                                  "example": "Jensen"
                                },
                                "fornavnMarkering": {
                                  "type": "boolean",
                                  "example": false
                                },
                                "mellemnavnMarkering": {
                                  "type": "boolean",
                                  "example": false
                                },
                                "efternavnMarkering": {
                                  "type": "boolean",
                                  "example": false
                                },
                                "egetEfternavnMarkering": {
                                  "type": "boolean",
                                  "example": false
                                },
                                "adresseringsnavn": {
                                  "type": "string",
                                  "example": "Hansen,Jens"
                                },
                                "myndighed": {
                                  "type": "integer",
                                  "example": 1234
                                }
                              }
                            }
                          },
                          "adresseringsnavn": {
                            "type": "object",
                            "properties": {
                              "adressenavn": {
                                "type": "string",
                                "example": "Hansen,Jens"
                              },
                              "myndighed": {
                                "type": "integer",
                                "example": 1234
                              }
                            }
                          },
                          "adresse": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "adresselinie1": {
                                  "type": "string"
                                },
                                "adresselinie2": {
                                  "type": "string"
                                },
                                "adresselinie3": {
                                  "type": "string"
                                },
                                "adresselinie4": {
                                  "type": "string"
                                },
                                "adresselinie5": {
                                  "type": "string"
                                },
                                "adresseteksttype": {
                                  "type": "integer"
                                },
                                "bnr": {
                                  "type": "string"
                                },
                                "etage": {
                                  "type": "string",
                                  "example": "1"
                                },
                                "husnummer": {
                                  "type": "string",
                                  "example": "23"
                                },
                                "kommunekode": {
                                  "type": "integer",
                                  "example": 956
                                },
                                "lokalitetsnavn": {
                                  "type": "string"
                                },
                                "myndighed": {
                                  "type": "integer"
                                },
                                "postdistrikt": {
                                  "type": "string",
                                  "example": "Nuuk"
                                },
                                "postnummer": {
                                  "type": "integer",
                                  "example": 3900
                                },
                                "sidedør": {
                                  "type": "string",
                                  "example": null
                                },
                                "startautoritet": {
                                  "type": "integer"
                                },
                                "vejkode": {
                                  "type": "integer",
                                  "example": 106
                                },
                                "vejnavn": {
                                  "type": "string",
                                  "example": "Industrivej"
                                }
                              }
                            }
                          },
                          "conavn": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "myndighed": {
                                  "type": "integer"
                                },
                                "conavn": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "kommuneflytning": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "myndighed": {
                                  "type": "integer",
                                  "example": 100
                                },
                                "fraflytningsdatoKommune": {
                                  "type": "string",
                                  "format": "date-time",
                                  "example": null
                                },
                                "fraflytningsdatoKommuneUsikkerhedsmarkering": {
                                  "type": "boolean",
                                  "example": false
                                },
                                "fraflytningskommunekode": {
                                  "type": "integer",
                                  "example": 101
                                },
                                "tilflytningsdatoKommune": {
                                  "type": "string",
                                  "format": "date-time",
                                  "example": "2010-01-01T00:00:00"
                                },
                                "tilflytningsdatoKommuneUsikkerhedsmarkering": {
                                  "type": "boolean",
                                  "example": false
                                }
                              }
                            }
                          },
                          "statsborgerskab": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "myndighed": {
                                  "type": "integer"
                                },
                                "landekode": {
                                  "type": "integer",
                                  "example": 5100
                                }
                              }
                            }
                          },
                          "mor": {
                            "type": "object",
                            "properties": {
                              "pnr": {
                                "type": "string",
                                "example": "0102631234"
                              },
                              "parentSearchAddress": {
                                "type": "string",
                                "example": "${pitu.base.url}/cpr/person/1/rest/search?pnr=0102631234"
                              }
                            }
                          },
                          "far": {
                            "type": "object",
                            "properties": {
                              "pnr": {
                                "type": "string",
                                "example": "0102630123"
                              },
                              "parentSearchAddress": {
                                "type": "string",
                                "example": "${pitu.base.url}/cpr/person/1/rest/search?pnr=0102630123"
                              }
                            }
                          },
                          "folkekirkeoplysning": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "myndighed": {
                                  "type": "integer",
                                  "example": 9518,
                                  "description": "Kode for den registrerende myndighed"
                                },
                                "folkekirkeforhold": {
                                  "type": "string",
                                  "example": "F",
                                  "description": "|Kode|Beskrivelse                            |\n|----|---------------------------------------|\n|F   |Medlem af folkekirken                  |\n|M   |Medlem af valgmenighed (og folkekirken)|\n|S   |Fri for kirkeskat eller udrejst        |\n|U   |Udenfor folkekirken                    |\n|A   |Afventer markering                     |\n"
                                }
                              }
                            }
                          },
                          "status": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "myndighed": {
                                  "type": "integer",
                                  "example": 1234
                                },
                                "status": {
                                  "type": "integer",
                                  "example": 5,
                                  "description": "|Kode|Beskrivelse                                                                                   |\n|----|----------------------------------------------------------------------------------------------|\n| 1  |Aktiv, bopæl i dansk folkeregister                                                            |\n| 3  |Aktiv, speciel vejkode (9900-9999) i dansk folkeregister                                      |\n| 5  |Aktiv, bopæl i grønlandsk folkeregister                                                       |\n| 7  |Aktiv, speciel vejkode (9900-9999) i grønlandsk folkeregister                                 |\n|10  |Inaktiv, reserveret personnummer                                                              |\n|20  |Inaktiv, uden bopæl i dansk/grønlandsk folkeregister, men tildelt personnummer af skattehensyn|\n|30  |Inaktiv, annuleret personnummer                                                               |\n|50  |Inaktiv, slettet personnummer ved dobbeltnummer                                               |\n|60  |Inaktiv, ændret personnummer ved ændring af fødselsdato og køn                                |\n|70  |Inaktiv, forsvundet                                                                           |\n|80  |Inaktiv, udrejst                                                                              |\n|90  |Inaktiv, død                                                                                  |\n|99  |Ukendt (ikke officiel CPR-kode)                                                               |\n"
                                }
                              }
                            }
                          },
                          "civilstatus": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "myndighed": {
                                  "type": "integer",
                                  "example": 0
                                },
                                "civilstand": {
                                  "type": "string",
                                  "example": "G",
                                  "description": "|Kode|Beskrivelse                      |\n|----|---------------------------------|\n|U   |Ugift                            |\n|G   |Gift                             |\n|F   |Fraskilt                         |\n|E   |Enke/Enkemand                    |\n|D   |Død                              |\n|P   |Registreret partner              |\n|O   |Ophørt registreret partner       |\n|L   |Længstlevende registreret partner|\n"
                                },
                                "ægtefælleCpr": {
                                  "type": "string",
                                  "example": "0405861234"
                                },
                                "ægtefælleFødselsdato": {
                                  "type": "string",
                                  "example": "1986-05-06",
                                  "description": "Feltet bruges oftest når der ikke foreligger et ægtefælleCpr - f.eks. hvis personen er gift med en udenlandsk statsborger"
                                },
                                "ægtefælleFødselsdatoUsikker": {
                                  "type": "boolean",
                                  "example": false,
                                  "description": "Feltet bruges oftest når der ikke foreligger et ægtefælleCpr - f.eks. hvis personen er gift med en udenlandsk statsborger"
                                },
                                "ægtefælleNavn": {
                                  "type": "string",
                                  "example": "Hansen,Jensine",
                                  "description": "Feltet bruges oftest når der ikke foreligger et ægtefælleCpr - f.eks. hvis personen er gift med en udenlandsk statsborger"
                                },
                                "ægtefælleNavnMarkering": {
                                  "type": "boolean",
                                  "example": false,
                                  "description": "Feltet bruges oftest når der ikke foreligger et ægtefælleCpr - f.eks. hvis personen er gift med en udenlandsk statsborger"
                                }
                              }
                            }
                          },
                          "fødselsted": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "myndighed": {
                                  "type": "integer",
                                  "example": 9520
                                },
                                "cprFødselsregistreringsstedskode": {
                                  "type": "integer",
                                  "example": 100
                                },
                                "cprFødselsregistreringsstedsnavn": {
                                  "type": "string",
                                  "example": "Reykjavik"
                                }
                              }
                            }
                          },
                          "fødselstidspunkt": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "myndighed": {
                                  "type": "integer",
                                  "example": 9520
                                },
                                "fødselsdato": {
                                  "type": "string",
                                  "format": "date-time",
                                  "example": "1980-01-02T12:34:56"
                                },
                                "fødselsdatoUsikkerhedsmarkering": {
                                  "type": "boolean",
                                  "example": false
                                }
                              }
                            }
                          },
                          "køn": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "myndighed": {
                                  "type": "integer",
                                  "example": 99
                                },
                                "køn": {
                                  "type": "string",
                                  "enum": [
                                    "KVINDE",
                                    "MAND"
                                  ]
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
