/target

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

/.idea
/.java_sphinx_cache
/gen_doc.log
.doctrees/*
*.mo
/docs.zip
*.retry
*.swp

# MacOS system files
.DS_Store
._.DS_Store


