# wso2 source zip file
/wso2*.zip

# Files within the ws2o folder which has changes from the default
# and should be tracked with git

# Folders for changed files
/wso2/*
!/wso2/bin
/wso2/bin/*
!/wso2/repository
/wso2/repository/*
!/wso2/repository/components
/wso2/repository/components/*
!/wso2/repository/components/lib
!/wso2/repository/conf
/wso2/repository/conf/*
!/wso2/repository/conf/datasources
/wso2/repository/conf/datasources/*
!/wso2/repository/conf/tomcat
/wso2/repository/conf/tomcat/*
!/wso2/repository/deployment
/wso2/repository/deployment/*
!/wso2/repository/deployment/server
/wso2/repository/deployment/server/*
!/wso2/repository/deployment/server/userstores
/wso2/repository/deployment/server/userstores/*

# The actual files
!/wso2/repository/conf/carbon.xml.example
!/wso2/repository/conf/datasources/master-datasources.xml.example
!/wso2/repository/conf/registry.xml
!/wso2/repository/conf/user-mgt.xml.example
!/wso2/repository/conf/tomcat/catalina-server.xml.example
!/wso2/repository/deployment/server/userstores/DATAFORDELER.xml.example

# Local settings file
/set_wso2_settings_local.bat
